Prerequisites: Ignore compiled translation objects
*.o
*.obj

# Ignore platform-specific executable distributions
*.exe
*.out
*.app

# Operating System store configurations
.DS_Store
Thumbs.db
.vscode/
.idea/
